<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Tarea_9_Docker.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <title>Tu Título Aquí</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Tu Sitio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Ocurrió un error
        </environment>
        <environment include="Development">
            Ha ocurrido una excepción no controlada
        </environment>
        <a href="" class="reload">Recargar</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_content/Blazor.Extensions.Logging/Blazor.Extensions.Logging.js"></script>
    <script src="_content/Blazor.Extensions.Logging/Blazor.Extensions.Logging.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
